* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

[data-section] {
  scroll-margin-top: 100px;
  /* Adjust based on your header height */
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.up-down {
  animation: float 2s ease-in-out infinite;
}

/* The keyframe animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
    /* Moves up */
  }

  100% {
    transform: translateY(0);
    /* Returns to starting position */
  }
}

/* The element you want to animate */
.spin {
  animation: spin 5s linear infinite;
}

/* The keyframe animation */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}